In [18]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt


database_service = "sqlite"
database = "jupiter.db"
connectable = f"{database_service}:///{database}"

query="SELECT distance_km FROM moons"

pd.read_sql(query, connectable)

    distance_km
0      129000.0
1    23231000.0
2      181400.0
3    21300000.0
4    24000000.0
5    22931000.0
6    23039000.0
7    24583090.0
8     1882700.0
9    22579850.0
10   16989000.0
11   24006280.0
12   24349000.0
13   12118000.0
14   23731770.0
15   11703130.0
16   22354200.0
17   11483000.0
18   20799000.0
19   23661000.0
20   21199710.0
21   19302000.0
22     670900.0
23   23214490.0
24    1070400.0
25   21280180.0
26   23947000.0
27   21263000.0
28   20665870.0
29   23097000.0
30   11388690.0
31     421700.0
32   21431650.0
33   23322670.0
34   23512340.0
35   24043000.0
36   24147770.0
37   24543000.0
38   11195980.0
39   11700710.0
40   23736190.0
41     128000.0
42   21069000.0
43   21170540.0
44   11525000.0
45   23208940.0
46   22967990.0
47   22819950.0
48   21147000.0
49   24371650.0
50   23487000.0
51   22546240.0
52     221889.0
53   21162000.0
54    7396130.0
55   20940000.0

In [19]:
import pandas as pd
import matplotlib.pyplot as plt

class Moons:
    def __init__(self, db):
    
        database_service = "sqlite"
        self.connectable = f"{database_service}:///{db}"
        self.load_data()
        
    def load_data(self):
       
        query = "SELECT * FROM moons"
        self.data = pd.read_sql(query, self.connectable)
        
    def stats(self):
        
        return self.data.describe()