In [159]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


database_service = "sqlite"
database = "jupiter.db"
connectable = f"{database_service}:///{database}"

query = 'SELECT "group" FROM moons'
groups = pd.read_sql(query, connectable)

In [160]:

import sqlite3

connection = sqlite3.connect('jupiter.db')

cursor = connection.cursor()

columns_query = "PRAGMA table_info(moons);"
cursor.execute(columns_query)
columns = cursor.fetchall()

# Print column names
print("Column names for the 'moons' table:")
for column in columns:
    print(column[1])

# Close the cursor and connection
cursor.close()
connection.close()

Column names for the 'moons' table:
moon
period_days
distance_km
radius_km
mag
mass_kg
group
ecc
inclination_deg

In [161]:
import pandas as pd
import matplotlib.pyplot as plt

class Moons:
    def __init__(self, db):
        
        database_service = "sqlite"
        self.connectable = f"{database_service}:///{db}"
        self.load_data()
        
    def load_data(self):
       
        query = "SELECT * FROM moons"
        self.data = pd.read_sql(query, self.connectable)
        
    def stats(self, decimal_places=3):

        statdp = self.data.describe()
        statdp2 = statdp.round(decimal_places)
        return statdp2

    def correlations(self, decimal_places=3):

        corrdp = self.data.corr()
        corrdp2 = corrdp.round(decimal_places)
        return corrdp2
        
    def plot_distance_histogram(self):
        
        plt.hist(self.data['distance_km'], bins=20, color='skyblue', edgecolor='black')
        plt.title('Distribution of Moon Distances from Jupiter')
        plt.xlabel('Distance (km)')
        plt.ylabel('Frequency')
        plt.show()

    def plot_by_group(self):
        groups = self.data['group'].unique()
        for group in groups:
            group_data = self.data[self.data['group'] == group]
            plt.scatter(group_data['period_days'], group_data['distance_km'], label=group)
                
        plt.xlabel('Period Days')
        plt.ylabel('Distance km')
        plt.legend(title='Groups', loc='lower right')
        plt.title('Scatter Plot of Period Days vs Distance km by Group')
        plt.show()
    
    def extract_moon_data(self, moon_name):
        # Extract data for a specific moon
        moon_data = self.data[self.data['moon'] == moon_name]
        return moon_data

In [200]:
from jupiter import Moons

jupiter_moons = Moons('jupiter.db')

correlations = jupiter_moons.correlations()
print("Correlation Statistics:")
display(correlations)


summary_stats = jupiter_moons.stats()
print("Summary Statistics:")
display(summary_stats)

jupiter_moons.plot_hist()

jupiter_moons.group_plot()

io_data = jupiter_moons.moon('Io')
print("Data for Io:")

print("Here are some main statistics from the database: \n")

mooncount = (summary_stats["period_days"]["count"])
print(f"There are {mooncount} moons in the database \n")

positivecorr = correlations[(correlations > 0.7) & (correlations != 1)  ]
print("Here are the positive correlations between the variables (coefficient >0.7):")
display(positivecorr)
countp1 = positivecorr.count().sum()
countp2 = (countp1)/2
print(f"There are {countp2} positive correlations between variables in the dataframe \n")
print("These are between: \nPeriod days and distance (km) \nPeriod days and inclination degrees \nPeriod days and magnitude \nPeriod days and ecc \nDistance (km) and magnitude \nDistance (km) and ecc \nDistance (km) and inclination degrees \nRadius (km) and mass (kg) \n")

negativecorr = correlations[(correlations < -0.7)]
print("Here are the negative correlations between the variables (coefficient <-0.7):")
display(negativecorr)
countn1 = negativecorr.count().sum()
countn2 = (countn1)/2
print(f"There are {countn2} negative correlations between variables in the dataframe\n")
print("These are between: /nMagnitude and radius (km) \nMagnitude and mass (kg)\n")

for column in columns:
    if column[1] != 'group':
        variables = (column[1])
        query = f"SELECT COUNT(*) FROM moons WHERE {variables} IS NULL;"
        missing_count = pd.read_sql(query, connectable)
        print(f"Missing count for variable {variables}:")
        display(missing_count)

AttributeError: 'Moons' object has no attribute 'load_data'